#global {
    height: 250px;
    width: auto;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}

#cardScroll {
    height: 550px;
    width: auto;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

#trab {
    height: 550px;
    width: auto;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}

#mensajes {
    height: auto;
}

.texto {
    padding: 4px;
    background: #fff;
}